<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Review a Monitor | Monitor Reviews'}) %>
    <link rel="stylesheet" href="/styles/monitor-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="review">
        <h4>Reviewing: <%= monitor.name %></h4>
    </div>

    <form action="/reviews/create/<%= monitor._id %>" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>

        <label for="review">Review:</label><br>
        <textarea id="review" name="review" required></textarea><br>

        <input type="submit" value="Submit">
    </form>


    <%- include('../partials/footer.ejs') %>
</body>

</html>