<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="reviewDetails">
        <h1>Name: <%= review.name %></h1>
        <table>
            <tr>
                <th>
                    <h2>Title:</h2>
                </th>
                <td>
                    <h2><%= review.title %></h2>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Review:</h2>
                </th>
                <td>
                    <h2><%= review.review %></h2>
                </td>
            </tr>
            </tr>
        </table>

    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>