<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Monitor Reviews'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <div class="reviews">
            <ul>
                <% for (let review of reviews) { %>
                <li>
                    <h4><%= review.name %> - <%= review.title %></h4>
                    <p>
                        Submitted on <%= review.review %>
                    </p>
                    <a href="/reviews/<%= review._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </div>
    </main>



    <%- include('../partials/footer.ejs') %>
</body>

</html>