<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${monitor.name}`}) %>
    <link rel="stylesheet" href="/styles/monitor-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="monitor">
        <div class="photo"><img src="<%= monitor.photo %>"></div>
        <h2 class="monitorName"><%= monitor.name %></h2>
        <div class="details">
            <ul>
                <p>Description: <%= monitor.description %></p>
                <p>Screen Size: <%= monitor.screenSize %>''</p>
                <p>Resolution: <%= monitor.resolution %></p>
                <p>Refresh Rate: <%= monitor.refreshRate %>hz</p>
                <p>Panel Type: <%= monitor.panelType %></p>
                <p>Curved: <%= monitor.curved %></p>
                <p>Category: <%= monitor.category %></p>
                <div class="actions">
                    <a class="btn" href="/monitors/<%= monitor._id %>/edit">Edit</a>
                    <a class="btn" href="/reviews/new/<%= monitor._id %>">Review</a>
                    <form method="POST" action="/monitors/<%= monitor._id %>?_method=DELETE">
                        <input class="btn" type="submit" value="Delete" />
                    </form>
                </div>
            </ul>
        </div>
        <% if (monitor.reviews.length > 0) { %>
            <div class="reviews" open>
                <ul>
                    <% for (let review of monitor.reviews) { %>
                    <li>
                        <h2><%= review.name %></h2>
                        <p> <%= review.review %></p>
                        <a href="/reviews/<%= review._id %>">Read More</a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>